<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <% if(isLogin){ %>
        <a href="photo">Photo</a>
        <a href="upload">Upload</a>
        <a href="logout">Logout</a>
        <a href="register">Register</a>
    <% } else { %>
        <a href="login">Login</a>
        <a href="register">Register</a>
        <p>Please login first!</p>
    <% } %>
  </body>
</html>
