<!DOCTYPE html>
<html>
<head>
    <title>Upload</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label>Please select photos to update: </label><input name="photo" type="file" multiple></input>
        <input type="submit">
    </form>
</body>
</html>